.border {
    border-Width: 1px;
    border-style: solid;
    border-color: #000000;
    Width: 300px;
    padding:10px;
    box-shadow: 3px 3px #A0A0A0;
  }
  .border2{
    margin: 0px;
    padding: 10px;
    border: 1px solid black;
  }
  .image{
    Width: 300px;
    margin-bottom: 10px;
  }
  .bold {
    Font-weight: bold;
  }
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #italic {
    font-style: italic}